<div id="<%= dom_id project %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= project.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contract date:</strong>
    <%= project.contract_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery date:</strong>
    <%= project.delivery_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Estimated amount:</strong>
    <%= project.estimated_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= project.customer_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= project.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= project.company_id %>
  </div>
</div>
